<div class="col-lg-3">
  <div class="well sidebar-nav">
    <h3>Hi <%=current_user.profile.first_name.camelcase%></h3>
    <ul class="nav nav-list">
      <% if current_user.has_role? :customer %>
	      <li><%= link_to 'Withdraw / Deposit', new_transaction_path %></li>
	      <li><%= link_to 'Transactions History', transactions_path %></li>
	      <li><%= link_to 'Enquiry', enquiry_transactions_path %></li>
	    <% elsif current_user.has_role? :manager %>
	    	<li><%= link_to 'Users', users_path %></li>
	    <% end %>
    </ul>
  </div><!--/.well -->
</div><!--/span-->